.display-flex{
    display: flex;
}
.aline-center{
    align-items: center;
    cursor: pointer;
}
.v{
    background-color:#ffc914;
    /* border: 1px solid black; */
}
.c{
    background-color: light rgb(96, 96, 96);
}